@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");
html, body{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 70px;
    padding: 25px;
    text-transform: uppercase;
}
.welcome{
    height: 500px;
    background-image: url(../imgs/1900x1427.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.welcome p{
    padding-top: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-family: 'Courier Prime',monospace
}
form{
    background-color: #52001a;
    color: #fff;
    padding-left: 75px;
}
.sizes{
    text-transform: uppercase;
}
.size-item{
    padding-left: 50px;
}
.btn{
    color: #fff;
    text-transform: uppercase;
    margin-left: 500px;
    position: static;
}
#output{
    display: none;
}
.footer{
    background-color: #8a0606;
    color: #fff;
}
.footer p{
    text-transform: capitalize;
    margin-left: 500px;
    font-family: monospace;
}
.socialicons{
    margin-left: 500px;
}